.wrapper {
  padding: 40px 40px;
  width: 75%;
}
.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-align: center;

  color: #000000;
}
.text1 {
  font-family: "Poppins";

  font-weight: 550;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #585454;
}
.text2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.text3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #585454;
}

@media (max-width: 1100px) {
  .wrapper {
    padding: 40px 40px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 20px 20px;
    width: 100%;
  }
}
