.overall {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.left {
  width: auto;
}
.right {
  width: 100%;
}
.right h1 {
  text-align: center;
  font-weight: bolder;
  color: purple;
  font-size: 50px;
}
.right h3 {
  color: brown;
  font-size: 30px;
  font-weight: bold;
}
.rightInner {
  padding: 50px;
}
.couponHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}
.couponLeft {
  font-size: 40px;
  font-weight: bold;
}
.user__yes {
  background-color: green;
}

.user__no {
  background-color: red;
}
.user__yes,
.user__no {
  color: white;
  padding: 3px 5px;
  font-size: 16px;
  border-radius: 5px;
}

.blogForm label {
  font-size: 16px;
}
.blogForm input {
  border: 1px grey solid;
  border-radius: 5px;
  margin-bottom: 20px;
}
.cbBtn {
  background-color: blue;
  color: white;
}
.deleteIcon:hover {
  cursor: pointer;
}

.editinput {
  font-family: Poppins !important;
  border: 1px solid grey !important;
  margin: 10px !important;
  font-size: 16px !important;
  border-radius: 5px;
  padding: 5px;
}
.addInput {
  display: flex;
  flex-direction: row;
}
.addInput button {
  color: white;
  background-color: blue;
  padding: 0px 30px;
  border-radius: 5px;
}
.contentHead {
  font-weight: bolder;
  font-size: 20px;
  font-family: poppins;
}

.editBtn {
  margin-top: 20px;
  border-radius: 5px;
  background-color: brown;
  color: white;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  width: 90%;
}
.editBtn:hover {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  width: 90%;
}
