.outer {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
@media (max-width: 1140px) {
  .desktopHeader {
    display: none;
  }
}

@media (min-width: 1141px) {
  .mobileHeader {
    display: none;
  }
}
